In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\rowla\4307\Week02\Lab\employment\98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv")

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Dissemination Areas (2247),Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2016",1,1.0,35151728,...,...
1,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2011",2,2.0,33476688,...,...
2,2016,1,0,Canada,4.0,5.1,20000,1,"Population percentage change, 2011 to 2016",3,NaN,5.0,...,...
3,2016,1,0,Canada,4.0,5.1,20000,1,Total private dwellings,4,3.0,15412443,...,...
4,2016,1,0,Canada,4.0,5.1,20000,1,Private dwellings occupied by usual residents,5,4.0,14072079,...,...
5,2016,1,0,Canada,4.0,5.1,20000,1,Population density per square kilometre,6,NaN,3.9,...,...
6,2016,1,0,Canada,4.0,5.1,20000,1,Land area in square kilometres,7,NaN,8965588.85,...,...
7,2016,1,0,Canada,4.0,5.1,20000,1,Total - Age groups and average age of the popu...,8,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,4.0,5.1,20000,1,0 to 14 years,9,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,4.0,5.1,20000,1,0 to 4 years,10,NaN,1898790,973030,925755
10,2016,1,0,Canada,4.0,5.1,20000,1,5 to 9 years,11,NaN,2018130,1034685,983445
11,2016,1,0,Canada,4.0,5.1,20000,1,10 to 14 years,12,NaN,1922645,985200,937445
12,2016,1,0,Canada,4.0,5.1,20000,1,15 to 64 years,13,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,4.0,5.1,20000,1,15 to 19 years,14,NaN,2026155,1039215,986945
14,2016,1,0,Canada,4.0,5.1,20000,1,20 to 24 years,15,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,4.0,5.1,20000,1,25 to 29 years,16,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,4.0,5.1,20000,1,30 to 34 years,17,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,4.0,5.1,20000,1,35 to 39 years,18,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,4.0,5.1,20000,1,40 to 44 years,19,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,4.0,5.1,20000,1,45 to 49 years,20,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,4.0,5.1,20000,1,50 to 54 years,21,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,4.0,5.1,20000,1,55 to 59 years,22,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,4.0,5.1,20000,1,60 to 64 years,23,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,4.0,5.1,20000,1,65 years and over,24,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,4.0,5.1,20000,1,65 to 69 years,25,NaN,1972480,953075,1019405
25,2016,1,0,Canada,4.0,5.1,20000,1,70 to 74 years,26,NaN,1420875,677975,742905
26,2016,1,0,Canada,4.0,5.1,20000,1,75 to 79 years,27,NaN,1021850,469545,552305
27,2016,1,0,Canada,4.0,5.1,20000,1,80 to 84 years,28,NaN,749645,325765,423880
28,2016,1,0,Canada,4.0,5.1,20000,1,85 years and over,29,NaN,770780,268790,501990
29,2016,1,0,Canada,4.0,5.1,20000,1,85 to 89 years,30,NaN,482520,185530,296990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [4]:
df1 = df.rename(columns = {"GEO_CODE (POR)": "Geocode",
                           "GEO_NAME": "Geoname", 
                           "Dim: Sex (3): Member ID: [1]: Total - Sex": "Employment Rate",
                           "GEO_LEVEL": "Geolevel",
                           "DIM: Profile of Dissemination Areas (2247)": "Area"})

In [5]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Employment Rate,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2016",1,1.0,35151728,...,...
1,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2011",2,2.0,33476688,...,...
2,2016,1,0,Canada,4.0,5.1,20000,1,"Population percentage change, 2011 to 2016",3,NaN,5.0,...,...
3,2016,1,0,Canada,4.0,5.1,20000,1,Total private dwellings,4,3.0,15412443,...,...
4,2016,1,0,Canada,4.0,5.1,20000,1,Private dwellings occupied by usual residents,5,4.0,14072079,...,...
5,2016,1,0,Canada,4.0,5.1,20000,1,Population density per square kilometre,6,NaN,3.9,...,...
6,2016,1,0,Canada,4.0,5.1,20000,1,Land area in square kilometres,7,NaN,8965588.85,...,...
7,2016,1,0,Canada,4.0,5.1,20000,1,Total - Age groups and average age of the popu...,8,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,4.0,5.1,20000,1,0 to 14 years,9,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,4.0,5.1,20000,1,0 to 4 years,10,NaN,1898790,973030,925755
10,2016,1,0,Canada,4.0,5.1,20000,1,5 to 9 years,11,NaN,2018130,1034685,983445
11,2016,1,0,Canada,4.0,5.1,20000,1,10 to 14 years,12,NaN,1922645,985200,937445
12,2016,1,0,Canada,4.0,5.1,20000,1,15 to 64 years,13,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,4.0,5.1,20000,1,15 to 19 years,14,NaN,2026155,1039215,986945
14,2016,1,0,Canada,4.0,5.1,20000,1,20 to 24 years,15,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,4.0,5.1,20000,1,25 to 29 years,16,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,4.0,5.1,20000,1,30 to 34 years,17,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,4.0,5.1,20000,1,35 to 39 years,18,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,4.0,5.1,20000,1,40 to 44 years,19,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,4.0,5.1,20000,1,45 to 49 years,20,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,4.0,5.1,20000,1,50 to 54 years,21,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,4.0,5.1,20000,1,55 to 59 years,22,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,4.0,5.1,20000,1,60 to 64 years,23,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,4.0,5.1,20000,1,65 years and over,24,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,4.0,5.1,20000,1,65 to 69 years,25,NaN,1972480,953075,1019405
25,2016,1,0,Canada,4.0,5.1,20000,1,70 to 74 years,26,NaN,1420875,677975,742905
26,2016,1,0,Canada,4.0,5.1,20000,1,75 to 79 years,27,NaN,1021850,469545,552305
27,2016,1,0,Canada,4.0,5.1,20000,1,80 to 84 years,28,NaN,749645,325765,423880
28,2016,1,0,Canada,4.0,5.1,20000,1,85 years and over,29,NaN,770780,268790,501990
29,2016,1,0,Canada,4.0,5.1,20000,1,85 to 89 years,30,NaN,482520,185530,296990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [6]:
df1 = df1[df1["Geolevel"]==4]

In [7]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Employment Rate,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
8988,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population, 2016",1,1.0,0,...,...
8989,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population, 2011",2,2.0,...,...,...
8990,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population percentage change, 2011 to 2016",3,NaN,...,...,...
8991,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Total private dwellings,4,3.0,0,...,...
8992,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Private dwellings occupied by usual residents,5,4.0,0,...,...
8993,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Population density per square kilometre,6,NaN,0.0,...,...
8994,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Land area in square kilometres,7,NaN,15.03,...,...
8995,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Total - Age groups and average age of the popu...,8,5.0,x,x,x
8996,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,0 to 14 years,9,NaN,x,x,x
8997,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,0 to 4 years,10,NaN,x,x,x
8998,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,5 to 9 years,11,NaN,x,x,x
8999,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,10 to 14 years,12,NaN,x,x,x
9000,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,15 to 64 years,13,NaN,x,x,x
9001,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,15 to 19 years,14,NaN,x,x,x
9002,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,20 to 24 years,15,NaN,x,x,x
9003,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,25 to 29 years,16,NaN,x,x,x
9004,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,30 to 34 years,17,NaN,x,x,x
9005,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,35 to 39 years,18,NaN,x,x,x
9006,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,40 to 44 years,19,NaN,x,x,x
9007,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,45 to 49 years,20,NaN,x,x,x
9008,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,50 to 54 years,21,NaN,x,x,x
9009,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,55 to 59 years,22,NaN,x,x,x
9010,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,60 to 64 years,23,NaN,x,x,x
9011,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,65 years and over,24,NaN,x,x,x
9012,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,65 to 69 years,25,NaN,x,x,x
9013,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,70 to 74 years,26,NaN,x,x,x
9014,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,75 to 79 years,27,NaN,x,x,x
9015,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,80 to 84 years,28,NaN,x,x,x
9016,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,85 years and over,29,NaN,x,x,x
9017,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,85 to 89 years,30,NaN,x,x,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [8]:
df1 = df1[df1["Area"]=="Employment rate"]

In [9]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Employment Rate,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
10858,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Employment rate,1871,NaN,x,x,x
13105,2016,59010238,4,59010238,5.1,6.8,0,59010030238,Employment rate,1871,NaN,59.7,70.6,48.5
15352,2016,59010239,4,59010239,6.3,12.3,11,59010030239,Employment rate,1871,NaN,67.7,78.4,53.6
17599,2016,59010240,4,59010240,6.7,9.9,101,59010030240,Employment rate,1871,NaN,68.9,75.9,62.5
19846,2016,59010241,4,59010241,5.1,11.5,111,59010030241,Employment rate,1871,NaN,64.0,73.9,53.5
22093,2016,59010242,4,59010242,5.4,9.5,0,59010030242,Employment rate,1871,NaN,68.4,73.5,62.2
24340,2016,59010249,4,59010249,NaN,NaN,9999,59010030249,Employment rate,1871,NaN,x,x,x
28834,2016,59010216,4,59010216,NaN,NaN,9999,59010060216,Employment rate,1871,NaN,x,x,x
31081,2016,59010228,4,59010228,8.2,12.2,11,59010060228,Employment rate,1871,NaN,46.5,51.6,41.5
33328,2016,59010229,4,59010229,5.4,6.5,0,59010060229,Employment rate,1871,NaN,71.4,75.0,67.6
35575,2016,59010230,4,59010230,6.6,10.1,11,59010060230,Employment rate,1871,NaN,58.4,67.4,43.8
37822,2016,59010231,4,59010231,5.2,11.9,11,59010060231,Employment rate,1871,NaN,74.0,90.9,69.2
40069,2016,59010232,4,59010232,8.9,10.7,111,59010060232,Employment rate,1871,NaN,58.9,66.1,52.4
42316,2016,59010233,4,59010233,3.3,9.4,1,59010060233,Employment rate,1871,NaN,68.5,78.1,59.7
44563,2016,59010234,4,59010234,6.8,11.5,111,59010060234,Employment rate,1871,NaN,75.9,81.6,65.8
46810,2016,59010236,4,59010236,NaN,NaN,9999,59010060236,Employment rate,1871,NaN,x,x,x
49057,2016,59010247,4,59010247,NaN,NaN,9999,59010060247,Employment rate,1871,NaN,x,x,x
53551,2016,59010217,4,59010217,5.9,14.0,11,59010120217,Employment rate,1871,NaN,58.8,75.8,41.2
55798,2016,59010218,4,59010218,5.6,11.5,11,59010120218,Employment rate,1871,NaN,71.1,78.3,67.3
58045,2016,59010219,4,59010219,8.5,17.5,111,59010120219,Employment rate,1871,NaN,80.0,84.8,75.0
60292,2016,59010220,4,59010220,9.0,14.7,111,59010120220,Employment rate,1871,NaN,67.1,77.3,58.5
62539,2016,59010221,4,59010221,5.0,12.8,11,59010120221,Employment rate,1871,NaN,62.3,59.5,68.8
64786,2016,59010222,4,59010222,5.3,6.4,0,59010120222,Employment rate,1871,NaN,69.0,70.2,67.5
67033,2016,59010223,4,59010223,10.8,16.3,1111,59010120223,Employment rate,1871,NaN,68.4,77.6,60.4
69280,2016,59010226,4,59010226,2.5,6.8,0,59010120226,Employment rate,1871,NaN,79.4,77.4,75.8
71527,2016,59010255,4,59010255,10.1,10.3,1111,59010120255,Employment rate,1871,NaN,65.7,65.7,66.7
76021,2016,59010224,4,59010224,11.2,29.9,1123,59010170224,Employment rate,1871,NaN,75.4,79.5,64.5
78268,2016,59010227,4,59010227,10.6,13.7,1111,59010170227,Employment rate,1871,NaN,69.5,78.3,61.2
80515,2016,59010248,4,59010248,4.4,8.2,1,59010170248,Employment rate,1871,NaN,64.6,70.7,55.3
82762,2016,59010254,4,59010254,6.6,8.2,1,59010170254,Employment rate,1871,NaN,62.8,66.7,62.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18737356,2016,59550222,4,59550222,11.6,15.2,1919,59558030222,Employment rate,1871,NaN,31.2,29.4,35.7
18741850,2016,59550221,4,59550221,5.0,7.1,909,59558040221,Employment rate,1871,NaN,42.9,44.4,45.5
18746344,2016,59550114,4,59550114,16.5,16.0,1313,59558070114,Employment rate,1871,NaN,40.0,44.0,38.1
18750838,2016,59550228,4,59550228,NaN,NaN,9999,59558080228,Employment rate,1871,NaN,x,x,x
18753085,2016,59550229,4,59550229,7.2,10.4,919,59558080229,Employment rate,1871,NaN,38.5,30.8,41.7
18757579,2016,59550116,4,59550116,16.8,19.8,1919,59558120116,Employment rate,1871,NaN,50.0,52.6,46.7
18764320,2016,59570200,4,59570200,16.6,16.8,1919,59570220200,Employment rate,1871,NaN,75.0,100.0,85.7
18766567,2016,59570210,4,59570210,52.5,41.0,5949,59570220210,Employment rate,1871,NaN,33.3,33.3,41.7
18768814,2016,59570219,4,59570219,52.8,38.8,5939,59570220219,Employment rate,1871,NaN,46.7,39.1,57.1
18773308,2016,59570217,4,59570217,NaN,NaN,9999,59578020217,Employment rate,1871,NaN,x,x,x
18775555,2016,59570218,4,59570218,NaN,NaN,9999,59578020218,Employment rate,1871,NaN,x,x,x
18780049,2016,59570209,4,59570209,19.7,19.3,1919,59578030209,Employment rate,1871,NaN,40.0,41.7,42.9
18784543,2016,59570021,4,59570021,NaN,NaN,9999,59578040021,Employment rate,1871,NaN,x,x,x
18789037,2016,59570024,4,59570024,13.5,14.0,1919,59578130024,Employment rate,1871,NaN,64.3,85.7,50.0
18793531,2016,59570025,4,59570025,2.7,NaN,999,59578140025,Employment rate,1871,NaN,x,x,x
18800272,2016,59590013,4,59590013,28.1,22.2,2929,59590070013,Employment rate,1871,NaN,71.4,75.0,66.7
18802519,2016,59590014,4,59590014,4.7,5.2,100,59590070014,Employment rate,1871,NaN,64.4,81.8,47.8
18804766,2016,59590019,4,59590019,6.5,11.3,111,59590070019,Employment rate,1871,NaN,63.3,60.0,64.6
18807013,2016,59590020,4,59590020,4.5,9.8,1,59590070020,Employment rate,1871,NaN,62.2,69.6,52.8
18809260,2016,59590021,4,59590021,5.4,12.0,10,59590070021,Employment rate,1871,NaN,74.4,72.0,77.8
18811507,2016,59590022,4,59590022,5.4,9.2,1,59590070022,Employment rate,1871,NaN,57.1,65.7,52.9
18813754,2016,59590023,4,59590023,6.3,22.8,122,59590070023,Employment rate,1871,NaN,55.7,64.7,47.2
18816001,2016,59590024,4,59590024,6.0,15.5,111,59590070024,Employment rate,1871,NaN,70.2,73.1,68.2
18818248,2016,59590025,4,59590025,6.6,11.7,111,59590070025,Employment rate,1871,NaN,69.8,75.9,63.5
18820495,2016,59590026,4,59590026,8.3,14.5,111,59590070026,Employment rate,1871,NaN,73.0,74.0,72.5
18822742,2016,59590027,4,59590027,1.8,6.8,0,59590070027,Employment rate,1871,NaN,62.6,72.9,53.5
18827236,2016,59590016,4,59590016,NaN,NaN,9999,59598050016,Employment rate,1871,NaN,x,x,x
18831730,2016,59590018,4,59590018,5.5,6.6,101,59598060018,Employment rate,1871,NaN,31.9,20.5,45.5
18836224,2016,59590017,4,59590017,NaN,NaN,9999,59598090017,Employment rate,1871,NaN,x,x,x
18840718,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Employment rate,1871,NaN,47.1,36.4,66.7

In [10]:
df1[["Geocode","Employment Rate"]]

           Geocode Employment Rate
10858     59010237               x
13105     59010238            59.7
15352     59010239            67.7
17599     59010240            68.9
19846     59010241            64.0
22093     59010242            68.4
24340     59010249               x
28834     59010216               x
31081     59010228            46.5
33328     59010229            71.4
35575     59010230            58.4
37822     59010231            74.0
40069     59010232            58.9
42316     59010233            68.5
44563     59010234            75.9
46810     59010236               x
49057     59010247               x
53551     59010217            58.8
55798     59010218            71.1
58045     59010219            80.0
60292     59010220            67.1
62539     59010221            62.3
64786     59010222            69.0
67033     59010223            68.4
69280     59010226            79.4
71527     59010255            65.7
76021     59010224            75.4
78268     59010227            69.5
80515     59010248            64.6
82762     59010254            62.8
...            ...             ...
18737356  59550222            31.2
18741850  59550221            42.9
18746344  59550114            40.0
18750838  59550228               x
18753085  59550229            38.5
18757579  59550116            50.0
18764320  59570200            75.0
18766567  59570210            33.3
18768814  59570219            46.7
18773308  59570217               x
18775555  59570218               x
18780049  59570209            40.0
18784543  59570021               x
18789037  59570024            64.3
18793531  59570025               x
18800272  59590013            71.4
18802519  59590014            64.4
18804766  59590019            63.3
18807013  59590020            62.2
18809260  59590021            74.4
18811507  59590022            57.1
18813754  59590023            55.7
18816001  59590024            70.2
18818248  59590025            69.8
18820495  59590026            73.0
18822742  59590027            62.6
18827236  59590016               x
18831730  59590018            31.9
18836224  59590017               x
18840718  59590015            47.1

[7617 rows x 2 columns]

In [11]:
df1.drop(df1.loc[df1["Employment Rate"]=="x"].index, inplace=True)

C:\ProgramData\Anaconda2\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [12]:
df1.drop(df1.loc[df1["Employment Rate"]=="F"].index, inplace=True)

In [13]:
df1.drop(df1.loc[df1["Employment Rate"]==".."].index, inplace=True)

In [14]:
df1.set_index('Geocode', inplace=True)

In [15]:
df1[["Employment Rate"]]

         Employment Rate
Geocode
59010238            59.7
59010239            67.7
59010240            68.9
59010241            64.0
59010242            68.4
59010228            46.5
59010229            71.4
59010230            58.4
59010231            74.0
59010232            58.9
59010233            68.5
59010234            75.9
59010217            58.8
59010218            71.1
59010219            80.0
59010220            67.1
59010221            62.3
59010222            69.0
59010223            68.4
59010226            79.4
59010255            65.7
59010224            75.4
59010227            69.5
59010248            64.6
59010254            62.8
59010210            56.2
59010211            42.2
59010212            57.8
59010213            54.8
59010166            66.7
...                  ...
59550213            58.2
59550214            70.7
59550219            71.6
59550236            62.6
59550242            49.4
59550122            42.1
59550121            52.6
59550222            31.2
59550221            42.9
59550114            40.0
59550229            38.5
59550116            50.0
59570200            75.0
59570210            33.3
59570219            46.7
59570209            40.0
59570024            64.3
59590013            71.4
59590014            64.4
59590019            63.3
59590020            62.2
59590021            74.4
59590022            57.1
59590023            55.7
59590024            70.2
59590025            69.8
59590026            73.0
59590027            62.6
59590018            31.9
59590015            47.1

[7204 rows x 1 columns]

In [16]:
header =["Employment Rate"]
df1.to_csv(r"C:\Users\rowla\4307\Week02\Lab\NEW02_98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv", columns = header)