In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\rowla\4307\Week02\Lab\98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv")

C:\ProgramData\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2714: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df

,CENSUS_YEAR,GEO_CODE (POR),GEO_LEVEL,GEO_NAME,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,DIM: Profile of Dissemination Areas (2247),Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Dim: Sex (3): Member ID: [1]: Total - Sex,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2016",1,1.0,35151728,...,...
1,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2011",2,2.0,33476688,...,...
2,2016,1,0,Canada,4.0,5.1,20000,1,"Population percentage change, 2011 to 2016",3,NaN,5.0,...,...
3,2016,1,0,Canada,4.0,5.1,20000,1,Total private dwellings,4,3.0,15412443,...,...
4,2016,1,0,Canada,4.0,5.1,20000,1,Private dwellings occupied by usual residents,5,4.0,14072079,...,...
5,2016,1,0,Canada,4.0,5.1,20000,1,Population density per square kilometre,6,NaN,3.9,...,...
6,2016,1,0,Canada,4.0,5.1,20000,1,Land area in square kilometres,7,NaN,8965588.85,...,...
7,2016,1,0,Canada,4.0,5.1,20000,1,Total - Age groups and average age of the popu...,8,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,4.0,5.1,20000,1,0 to 14 years,9,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,4.0,5.1,20000,1,0 to 4 years,10,NaN,1898790,973030,925755
10,2016,1,0,Canada,4.0,5.1,20000,1,5 to 9 years,11,NaN,2018130,1034685,983445
11,2016,1,0,Canada,4.0,5.1,20000,1,10 to 14 years,12,NaN,1922645,985200,937445
12,2016,1,0,Canada,4.0,5.1,20000,1,15 to 64 years,13,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,4.0,5.1,20000,1,15 to 19 years,14,NaN,2026155,1039215,986945
14,2016,1,0,Canada,4.0,5.1,20000,1,20 to 24 years,15,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,4.0,5.1,20000,1,25 to 29 years,16,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,4.0,5.1,20000,1,30 to 34 years,17,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,4.0,5.1,20000,1,35 to 39 years,18,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,4.0,5.1,20000,1,40 to 44 years,19,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,4.0,5.1,20000,1,45 to 49 years,20,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,4.0,5.1,20000,1,50 to 54 years,21,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,4.0,5.1,20000,1,55 to 59 years,22,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,4.0,5.1,20000,1,60 to 64 years,23,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,4.0,5.1,20000,1,65 years and over,24,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,4.0,5.1,20000,1,65 to 69 years,25,NaN,1972480,953075,1019405
25,2016,1,0,Canada,4.0,5.1,20000,1,70 to 74 years,26,NaN,1420875,677975,742905
26,2016,1,0,Canada,4.0,5.1,20000,1,75 to 79 years,27,NaN,1021850,469545,552305
27,2016,1,0,Canada,4.0,5.1,20000,1,80 to 84 years,28,NaN,749645,325765,423880
28,2016,1,0,Canada,4.0,5.1,20000,1,85 years and over,29,NaN,770780,268790,501990
29,2016,1,0,Canada,4.0,5.1,20000,1,85 to 89 years,30,NaN,482520,185530,296990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [4]:
df1 = df.rename(columns = {"GEO_CODE (POR)": "Geocode",
                           "GEO_NAME": "Geoname", 
                           "Dim: Sex (3): Member ID: [1]: Total - Sex": "Median Income",
                           "GEO_LEVEL": "Geolevel",
                           "DIM: Profile of Dissemination Areas (2247)": "Area"})

In [5]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Median Income,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
0,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2016",1,1.0,35151728,...,...
1,2016,1,0,Canada,4.0,5.1,20000,1,"Population, 2011",2,2.0,33476688,...,...
2,2016,1,0,Canada,4.0,5.1,20000,1,"Population percentage change, 2011 to 2016",3,NaN,5.0,...,...
3,2016,1,0,Canada,4.0,5.1,20000,1,Total private dwellings,4,3.0,15412443,...,...
4,2016,1,0,Canada,4.0,5.1,20000,1,Private dwellings occupied by usual residents,5,4.0,14072079,...,...
5,2016,1,0,Canada,4.0,5.1,20000,1,Population density per square kilometre,6,NaN,3.9,...,...
6,2016,1,0,Canada,4.0,5.1,20000,1,Land area in square kilometres,7,NaN,8965588.85,...,...
7,2016,1,0,Canada,4.0,5.1,20000,1,Total - Age groups and average age of the popu...,8,5.0,35151730,17264200,17887530
8,2016,1,0,Canada,4.0,5.1,20000,1,0 to 14 years,9,NaN,5839570,2992925,2846645
9,2016,1,0,Canada,4.0,5.1,20000,1,0 to 4 years,10,NaN,1898790,973030,925755
10,2016,1,0,Canada,4.0,5.1,20000,1,5 to 9 years,11,NaN,2018130,1034685,983445
11,2016,1,0,Canada,4.0,5.1,20000,1,10 to 14 years,12,NaN,1922645,985200,937445
12,2016,1,0,Canada,4.0,5.1,20000,1,15 to 64 years,13,NaN,23376530,11576130,11800400
13,2016,1,0,Canada,4.0,5.1,20000,1,15 to 19 years,14,NaN,2026155,1039215,986945
14,2016,1,0,Canada,4.0,5.1,20000,1,20 to 24 years,15,NaN,2242690,1144495,1098205
15,2016,1,0,Canada,4.0,5.1,20000,1,25 to 29 years,16,NaN,2285990,1144475,1141515
16,2016,1,0,Canada,4.0,5.1,20000,1,30 to 34 years,17,NaN,2329395,1148295,1181105
17,2016,1,0,Canada,4.0,5.1,20000,1,35 to 39 years,18,NaN,2288365,1118635,1169730
18,2016,1,0,Canada,4.0,5.1,20000,1,40 to 44 years,19,NaN,2255135,1104440,1150695
19,2016,1,0,Canada,4.0,5.1,20000,1,45 to 49 years,20,NaN,2359965,1157755,1202210
20,2016,1,0,Canada,4.0,5.1,20000,1,50 to 54 years,21,NaN,2678075,1318755,1359320
21,2016,1,0,Canada,4.0,5.1,20000,1,55 to 59 years,22,NaN,2620240,1285190,1335055
22,2016,1,0,Canada,4.0,5.1,20000,1,60 to 64 years,23,NaN,2290515,1114880,1175630
23,2016,1,0,Canada,4.0,5.1,20000,1,65 years and over,24,NaN,5935635,2695145,3240485
24,2016,1,0,Canada,4.0,5.1,20000,1,65 to 69 years,25,NaN,1972480,953075,1019405
25,2016,1,0,Canada,4.0,5.1,20000,1,70 to 74 years,26,NaN,1420875,677975,742905
26,2016,1,0,Canada,4.0,5.1,20000,1,75 to 79 years,27,NaN,1021850,469545,552305
27,2016,1,0,Canada,4.0,5.1,20000,1,80 to 84 years,28,NaN,749645,325765,423880
28,2016,1,0,Canada,4.0,5.1,20000,1,85 years and over,29,NaN,770780,268790,501990
29,2016,1,0,Canada,4.0,5.1,20000,1,85 to 89 years,30,NaN,482520,185530,296990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [6]:
df1 = df1[df1["Geolevel"]==4]

In [7]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Median Income,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
8988,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population, 2016",1,1.0,0,...,...
8989,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population, 2011",2,2.0,...,...,...
8990,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,"Population percentage change, 2011 to 2016",3,NaN,...,...,...
8991,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Total private dwellings,4,3.0,0,...,...
8992,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Private dwellings occupied by usual residents,5,4.0,0,...,...
8993,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Population density per square kilometre,6,NaN,0.0,...,...
8994,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Land area in square kilometres,7,NaN,15.03,...,...
8995,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Total - Age groups and average age of the popu...,8,5.0,x,x,x
8996,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,0 to 14 years,9,NaN,x,x,x
8997,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,0 to 4 years,10,NaN,x,x,x
8998,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,5 to 9 years,11,NaN,x,x,x
8999,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,10 to 14 years,12,NaN,x,x,x
9000,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,15 to 64 years,13,NaN,x,x,x
9001,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,15 to 19 years,14,NaN,x,x,x
9002,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,20 to 24 years,15,NaN,x,x,x
9003,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,25 to 29 years,16,NaN,x,x,x
9004,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,30 to 34 years,17,NaN,x,x,x
9005,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,35 to 39 years,18,NaN,x,x,x
9006,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,40 to 44 years,19,NaN,x,x,x
9007,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,45 to 49 years,20,NaN,x,x,x
9008,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,50 to 54 years,21,NaN,x,x,x
9009,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,55 to 59 years,22,NaN,x,x,x
9010,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,60 to 64 years,23,NaN,x,x,x
9011,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,65 years and over,24,NaN,x,x,x
9012,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,65 to 69 years,25,NaN,x,x,x
9013,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,70 to 74 years,26,NaN,x,x,x
9014,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,75 to 79 years,27,NaN,x,x,x
9015,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,80 to 84 years,28,NaN,x,x,x
9016,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,85 years and over,29,NaN,x,x,x
9017,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,85 to 89 years,30,NaN,x,x,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18841065,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2218,NaN,0,0,0
18841066,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Other language(s) used regularly at wo...,2219,236.0,65,40,25
18841067,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,None,2220,NaN,55,35,20
18841068,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English,2221,NaN,0,0,0
18841069,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French,2222,NaN,0,0,0
18841070,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-official language,2223,NaN,0,0,10
18841071,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Aboriginal,2224,NaN,10,0,10
18841072,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-Aboriginal,2225,NaN,0,0,0
18841073,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and French,2226,NaN,0,0,0
18841074,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,English and non-official language,2227,NaN,0,0,0
18841075,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,French and non-official language,2228,NaN,0,0,0
18841076,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,"English, French and non-official language",2229,NaN,0,0,0
18841077,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 1 year ago - 25% sampl...,2230,237.0,105,65,35
18841078,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2231,NaN,95,60,40
18841079,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2232,NaN,10,0,0
18841080,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2233,NaN,0,0,0
18841081,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2234,NaN,10,0,0
18841082,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2235,NaN,10,0,0
18841083,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2236,NaN,0,0,0
18841084,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2237,NaN,0,0,0
18841085,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2238,NaN,0,0,0
18841086,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Total - Mobility status 5 years ago - 25% samp...,2239,238.0,105,65,40
18841087,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-movers,2240,NaN,75,50,25
18841088,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Movers,2241,NaN,25,10,10
18841089,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Non-migrants,2242,NaN,15,10,0
18841090,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Migrants,2243,NaN,15,0,10
18841091,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Internal migrants,2244,NaN,15,10,10
18841092,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Intraprovincial migrants,2245,NaN,15,0,10
18841093,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Interprovincial migrants,2246,NaN,0,0,0
18841094,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,External migrants,2247,NaN,0,0,0

In [8]:
df1 = df1[df1["Area"]=="Median total income in 2015 among recipients ($)"]

In [9]:
df1

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Median Income,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
9650,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Median total income in 2015 among recipients ($),663,NaN,x,x,x
11897,2016,59010238,4,59010238,5.1,6.8,0,59010030238,Median total income in 2015 among recipients ($),663,NaN,55104,98560,23872
14144,2016,59010239,4,59010239,6.3,12.3,11,59010030239,Median total income in 2015 among recipients ($),663,NaN,60736,99584,19520
16391,2016,59010240,4,59010240,6.7,9.9,101,59010030240,Median total income in 2015 among recipients ($),663,NaN,55936,96939,21952
18638,2016,59010241,4,59010241,5.1,11.5,111,59010030241,Median total income in 2015 among recipients ($),663,NaN,55040,96427,23936
20885,2016,59010242,4,59010242,5.4,9.5,0,59010030242,Median total income in 2015 among recipients ($),663,NaN,58752,99328,24000
23132,2016,59010249,4,59010249,NaN,NaN,9999,59010030249,Median total income in 2015 among recipients ($),663,NaN,x,x,x
27626,2016,59010216,4,59010216,NaN,NaN,9999,59010060216,Median total income in 2015 among recipients ($),663,NaN,x,x,x
29873,2016,59010228,4,59010228,8.2,12.2,11,59010060228,Median total income in 2015 among recipients ($),663,NaN,31168,56384,22229
32120,2016,59010229,4,59010229,5.4,6.5,0,59010060229,Median total income in 2015 among recipients ($),663,NaN,53568,96768,26816
34367,2016,59010230,4,59010230,6.6,10.1,11,59010060230,Median total income in 2015 among recipients ($),663,NaN,42240,80640,24256
36614,2016,59010231,4,59010231,5.2,11.9,11,59010060231,Median total income in 2015 among recipients ($),663,NaN,41408,84608,25984
38861,2016,59010232,4,59010232,8.9,10.7,111,59010060232,Median total income in 2015 among recipients ($),663,NaN,34816,63872,19696
41108,2016,59010233,4,59010233,3.3,9.4,1,59010060233,Median total income in 2015 among recipients ($),663,NaN,61632,100523,28064
43355,2016,59010234,4,59010234,6.8,11.5,111,59010060234,Median total income in 2015 among recipients ($),663,NaN,55168,96640,26816
45602,2016,59010236,4,59010236,NaN,NaN,9999,59010060236,Median total income in 2015 among recipients ($),663,NaN,x,x,x
47849,2016,59010247,4,59010247,NaN,NaN,9999,59010060247,Median total income in 2015 among recipients ($),663,NaN,x,x,x
52343,2016,59010217,4,59010217,5.9,14.0,11,59010120217,Median total income in 2015 among recipients ($),663,NaN,45568,71424,28256
54590,2016,59010218,4,59010218,5.6,11.5,11,59010120218,Median total income in 2015 among recipients ($),663,NaN,38912,57984,28992
56837,2016,59010219,4,59010219,8.5,17.5,111,59010120219,Median total income in 2015 among recipients ($),663,NaN,33600,41856,28608
59084,2016,59010220,4,59010220,9.0,14.7,111,59010120220,Median total income in 2015 among recipients ($),663,NaN,34368,46144,28096
61331,2016,59010221,4,59010221,5.0,12.8,11,59010120221,Median total income in 2015 among recipients ($),663,NaN,41856,63104,25728
63578,2016,59010222,4,59010222,5.3,6.4,0,59010120222,Median total income in 2015 among recipients ($),663,NaN,51157,77056,37632
65825,2016,59010223,4,59010223,10.8,16.3,1111,59010120223,Median total income in 2015 among recipients ($),663,NaN,35904,49280,28592
68072,2016,59010226,4,59010226,2.5,6.8,0,59010120226,Median total income in 2015 among recipients ($),663,NaN,49024,76032,30656
70319,2016,59010255,4,59010255,10.1,10.3,1111,59010120255,Median total income in 2015 among recipients ($),663,NaN,40917,63488,30912
74813,2016,59010224,4,59010224,11.2,29.9,1123,59010170224,Median total income in 2015 among recipients ($),663,NaN,42688,55744,32256
77060,2016,59010227,4,59010227,10.6,13.7,1111,59010170227,Median total income in 2015 among recipients ($),663,NaN,41728,65621,26304
79307,2016,59010248,4,59010248,4.4,8.2,1,59010170248,Median total income in 2015 among recipients ($),663,NaN,40576,67499,22400
81554,2016,59010254,4,59010254,6.6,8.2,1,59010170254,Median total income in 2015 among recipients ($),663,NaN,40832,62464,27200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18736148,2016,59550222,4,59550222,11.6,15.2,1919,59558030222,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18740642,2016,59550221,4,59550221,5.0,7.1,909,59558040221,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18745136,2016,59550114,4,59550114,16.5,16.0,1313,59558070114,Median total income in 2015 among recipients ($),663,NaN,17104,15872,19776
18749630,2016,59550228,4,59550228,NaN,NaN,9999,59558080228,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18751877,2016,59550229,4,59550229,7.2,10.4,919,59558080229,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18756371,2016,59550116,4,59550116,16.8,19.8,1919,59558120116,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18763112,2016,59570200,4,59570200,16.6,16.8,1919,59570220200,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18765359,2016,59570210,4,59570210,52.5,41.0,5949,59570220210,Median total income in 2015 among recipients ($),663,NaN,F,F,F
18767606,2016,59570219,4,59570219,52.8,38.8,5939,59570220219,Median total income in 2015 among recipients ($),663,NaN,F,F,F
18772100,2016,59570217,4,59570217,NaN,NaN,9999,59578020217,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18774347,2016,59570218,4,59570218,NaN,NaN,9999,59578020218,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18778841,2016,59570209,4,59570209,19.7,19.3,1919,59578030209,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18783335,2016,59570021,4,59570021,NaN,NaN,9999,59578040021,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18787829,2016,59570024,4,59570024,13.5,14.0,1919,59578130024,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18792323,2016,59570025,4,59570025,2.7,NaN,999,59578140025,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18799064,2016,59590013,4,59590013,28.1,22.2,2929,59590070013,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18801311,2016,59590014,4,59590014,4.7,5.2,100,59590070014,Median total income in 2015 among recipients ($),663,NaN,51840,67584,32384
18803558,2016,59590019,4,59590019,6.5,11.3,111,59590070019,Median total income in 2015 among recipients ($),663,NaN,38912,51584,27648
18805805,2016,59590020,4,59590020,4.5,9.8,1,59590070020,Median total income in 2015 among recipients ($),663,NaN,50859,70400,35456
18808052,2016,59590021,4,59590021,5.4,12.0,10,59590070021,Median total income in 2015 among recipients ($),663,NaN,38592,47232,29696
18810299,2016,59590022,4,59590022,5.4,9.2,1,59590070022,Median total income in 2015 among recipients ($),663,NaN,42816,61824,27136
18812546,2016,59590023,4,59590023,6.3,22.8,122,59590070023,Median total income in 2015 among recipients ($),663,NaN,42709,64000,32320
18814793,2016,59590024,4,59590024,6.0,15.5,111,59590070024,Median total income in 2015 among recipients ($),663,NaN,44608,59264,37888
18817040,2016,59590025,4,59590025,6.6,11.7,111,59590070025,Median total income in 2015 among recipients ($),663,NaN,57600,85163,42112
18819287,2016,59590026,4,59590026,8.3,14.5,111,59590070026,Median total income in 2015 among recipients ($),663,NaN,50176,75008,34944
18821534,2016,59590027,4,59590027,1.8,6.8,0,59590070027,Median total income in 2015 among recipients ($),663,NaN,50901,69632,32832
18826028,2016,59590016,4,59590016,NaN,NaN,9999,59598050016,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18830522,2016,59590018,4,59590018,5.5,6.6,101,59598060018,Median total income in 2015 among recipients ($),663,NaN,20480,18176,23488
18835016,2016,59590017,4,59590017,NaN,NaN,9999,59598090017,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18839510,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Median total income in 2015 among recipients ($),663,NaN,x,x,x

In [10]:
df1[["Geocode", "Median Income"]]

           Geocode Median Income
9650      59010237             x
11897     59010238         55104
14144     59010239         60736
16391     59010240         55936
18638     59010241         55040
20885     59010242         58752
23132     59010249             x
27626     59010216             x
29873     59010228         31168
32120     59010229         53568
34367     59010230         42240
36614     59010231         41408
38861     59010232         34816
41108     59010233         61632
43355     59010234         55168
45602     59010236             x
47849     59010247             x
52343     59010217         45568
54590     59010218         38912
56837     59010219         33600
59084     59010220         34368
61331     59010221         41856
63578     59010222         51157
65825     59010223         35904
68072     59010226         49024
70319     59010255         40917
74813     59010224         42688
77060     59010227         41728
79307     59010248         40576
81554     59010254         40832
...            ...           ...
18736148  59550222             x
18740642  59550221             x
18745136  59550114         17104
18749630  59550228             x
18751877  59550229             x
18756371  59550116             x
18763112  59570200             x
18765359  59570210             F
18767606  59570219             F
18772100  59570217             x
18774347  59570218             x
18778841  59570209             x
18783335  59570021             x
18787829  59570024             x
18792323  59570025             x
18799064  59590013             x
18801311  59590014         51840
18803558  59590019         38912
18805805  59590020         50859
18808052  59590021         38592
18810299  59590022         42816
18812546  59590023         42709
18814793  59590024         44608
18817040  59590025         57600
18819287  59590026         50176
18821534  59590027         50901
18826028  59590016             x
18830522  59590018         20480
18835016  59590017             x
18839510  59590015             x

[7617 rows x 2 columns]

In [11]:
df1.loc[df1["Median Income"] == "x"]

,CENSUS_YEAR,Geocode,Geolevel,Geoname,GNR,GNR_LF,DATA_QUALITY_FLAG,ALT_GEO_CODE,Area,Member ID: Profile of Dissemination Areas (2247),Notes: Profile of Dissemination Areas (2247),Median Income,Dim: Sex (3): Member ID: [2]: Male,Dim: Sex (3): Member ID: [3]: Female
9650,2016,59010237,4,59010237,NaN,NaN,9999,59010030237,Median total income in 2015 among recipients ($),663,NaN,x,x,x
23132,2016,59010249,4,59010249,NaN,NaN,9999,59010030249,Median total income in 2015 among recipients ($),663,NaN,x,x,x
27626,2016,59010216,4,59010216,NaN,NaN,9999,59010060216,Median total income in 2015 among recipients ($),663,NaN,x,x,x
45602,2016,59010236,4,59010236,NaN,NaN,9999,59010060236,Median total income in 2015 among recipients ($),663,NaN,x,x,x
47849,2016,59010247,4,59010247,NaN,NaN,9999,59010060247,Median total income in 2015 among recipients ($),663,NaN,x,x,x
97283,2016,59010147,4,59010147,NaN,NaN,9999,59010220147,Median total income in 2015 among recipients ($),663,NaN,x,x,x
218621,2016,59010145,4,59010145,NaN,NaN,9999,59010350145,Median total income in 2015 among recipients ($),663,NaN,x,x,x
301760,2016,59010214,4,59010214,4.1,6.1,909,59018010214,Median total income in 2015 among recipients ($),663,NaN,x,x,x
306254,2016,59010144,4,59010144,NaN,NaN,9999,59018020144,Median total income in 2015 among recipients ($),663,NaN,x,x,x
310748,2016,59010146,4,59010146,12.1,13.9,1919,59018030146,Median total income in 2015 among recipients ($),663,NaN,x,x,x
315242,2016,59010136,4,59010136,8.1,8.4,909,59018040136,Median total income in 2015 among recipients ($),663,NaN,x,x,x
319736,2016,59010203,4,59010203,NaN,NaN,9999,59018050203,Median total income in 2015 among recipients ($),663,NaN,x,x,x
351194,2016,59030218,4,59030218,14.0,21.5,1929,59030040218,Median total income in 2015 among recipients ($),663,NaN,x,x,x
436580,2016,59030168,4,59030168,NaN,NaN,9999,59030150168,Median total income in 2015 among recipients ($),663,NaN,x,x,x
461297,2016,59030136,4,59030136,8.3,7.0,909,59030270136,Median total income in 2015 among recipients ($),663,NaN,x,x,x
544436,2016,59030196,4,59030196,NaN,NaN,9999,59030450196,Median total income in 2015 among recipients ($),663,NaN,x,x,x
569153,2016,59030133,4,59030133,NaN,NaN,9999,59030500133,Median total income in 2015 among recipients ($),663,NaN,x,x,x
607352,2016,59030179,4,59030179,25.4,32.9,2939,59030580179,Median total income in 2015 among recipients ($),663,NaN,x,x,x
634316,2016,59030206,4,59030206,7.1,9.0,909,59038070206,Median total income in 2015 among recipients ($),663,NaN,x,x,x
854522,2016,59070138,4,59070138,NaN,NaN,9999,59070240138,Median total income in 2015 among recipients ($),663,NaN,x,x,x
865757,2016,59070144,4,59070144,NaN,NaN,9999,59070240144,Median total income in 2015 among recipients ($),663,NaN,x,x,x
868004,2016,59070301,4,59070301,NaN,NaN,9999,59070240301,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1169102,2016,59070304,4,59070304,3.9,7.2,909,59078020304,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1175843,2016,59070251,4,59070251,NaN,NaN,9999,59078030251,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1180337,2016,59070305,4,59070305,NaN,NaN,9999,59078030305,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1182584,2016,59070306,4,59070306,6.4,9.6,909,59078030306,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1184831,2016,59070307,4,59070307,8.4,11.2,919,59078030307,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1191572,2016,59070158,4,59070158,31.3,20.6,3929,59078050158,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1196066,2016,59070159,4,59070159,NaN,NaN,9999,59078060159,Median total income in 2015 among recipients ($),663,NaN,x,x,x
1200560,2016,59070147,4,59070147,12.9,15.1,1919,59078070147,Median total income in 2015 among recipients ($),663,NaN,x,x,x
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18181139,2016,59530085,4,59530085,17.6,15.3,1919,59530230085,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18291242,2016,59530211,4,59530211,14.9,1.1,1909,59530230211,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18329441,2016,59530236,4,59530236,3.6,7.1,909,59530230236,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18430556,2016,59530203,4,59530203,NaN,NaN,9999,59530500203,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18435050,2016,59530250,4,59530250,0.5,1.4,909,59538010250,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18439544,2016,59530202,4,59530202,8.3,10.4,919,59538020202,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18464261,2016,59550124,4,59550124,NaN,NaN,9999,59550100124,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18466508,2016,59550125,4,59550125,NaN,NaN,9999,59550100125,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18468755,2016,59550128,4,59550128,NaN,NaN,9999,59550100128,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18471002,2016,59550129,4,59550129,NaN,NaN,9999,59550100129,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18473249,2016,59550130,4,59550130,NaN,NaN,9999,59550100130,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18567623,2016,59550117,4,59550117,2.6,5.4,909,59550230117,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18603575,2016,59550177,4,59550177,NaN,NaN,9999,59550340177,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18731654,2016,59550121,4,59550121,3.9,6.9,909,59558020121,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18736148,2016,59550222,4,59550222,11.6,15.2,1919,59558030222,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18740642,2016,59550221,4,59550221,5.0,7.1,909,59558040221,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18749630,2016,59550228,4,59550228,NaN,NaN,9999,59558080228,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18751877,2016,59550229,4,59550229,7.2,10.4,919,59558080229,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18756371,2016,59550116,4,59550116,16.8,19.8,1919,59558120116,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18763112,2016,59570200,4,59570200,16.6,16.8,1919,59570220200,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18772100,2016,59570217,4,59570217,NaN,NaN,9999,59578020217,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18774347,2016,59570218,4,59570218,NaN,NaN,9999,59578020218,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18778841,2016,59570209,4,59570209,19.7,19.3,1919,59578030209,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18783335,2016,59570021,4,59570021,NaN,NaN,9999,59578040021,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18787829,2016,59570024,4,59570024,13.5,14.0,1919,59578130024,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18792323,2016,59570025,4,59570025,2.7,NaN,999,59578140025,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18799064,2016,59590013,4,59590013,28.1,22.2,2929,59590070013,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18826028,2016,59590016,4,59590016,NaN,NaN,9999,59598050016,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18835016,2016,59590017,4,59590017,NaN,NaN,9999,59598090017,Median total income in 2015 among recipients ($),663,NaN,x,x,x
18839510,2016,59590015,4,59590015,10.2,12.2,1919,59598100015,Median total income in 2015 among recipients ($),663,NaN,x,x,x

In [12]:
df1.drop(df1.loc[df1["Median Income"]=="x"].index, inplace=True)

C:\ProgramData\Anaconda2\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [13]:
df1.drop(df1.loc[df1["Median Income"]=="F"].index, inplace=True)

In [14]:
df1.drop(df1.loc[df1["Median Income"]==".."].index, inplace=True)

In [15]:
df1.set_index('Geocode', inplace=True)

In [16]:
df1[["Median Income"]]

         Median Income
Geocode
59010238         55104
59010239         60736
59010240         55936
59010241         55040
59010242         58752
59010228         31168
59010229         53568
59010230         42240
59010231         41408
59010232         34816
59010233         61632
59010234         55168
59010217         45568
59010218         38912
59010219         33600
59010220         34368
59010221         41856
59010222         51157
59010223         35904
59010226         49024
59010255         40917
59010224         42688
59010227         41728
59010248         40576
59010254         40832
59010210         34560
59010211         34048
59010212         31392
59010213         36352
59010166         32640
...                ...
59550220         35456
59550223         24832
59550224         28352
59550225         40640
59550226         37888
59550227         43691
59550172         49600
59550173         49152
59550202         56320
59550209         48213
59550211         53760
59550212         48768
59550213         62848
59550214         57536
59550219         50240
59550236         56832
59550242         47104
59550122         21568
59550114         17104
59590014         51840
59590019         38912
59590020         50859
59590021         38592
59590022         42816
59590023         42709
59590024         44608
59590025         57600
59590026         50176
59590027         50901
59590018         20480

[6932 rows x 1 columns]

In [17]:
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

In [18]:
header =["Median Income"]
df1.to_csv(r"C:\Users\rowla\4307\Week02\Lab\NEW_98-401-X2016044_BRITISH_COLUMBIA_English_CSV_data.csv", columns = header)